/* ----------------------------------------- */
/* ---------------- GENERAL ---------------- */
/* ----------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
	/* ---------------- COLORS ---------------- */
	--clr-accent-500: hsl(216, 100%, 49%);
	--clr-accent-300: hsl(216, 100%, 55%);

	--clr-muted: hsl(216, 100%, 94%);

	--clr-gray-100: hsl(0, 0%, 95%);
	--clr-gray-200: hsl(0, 0%, 85%);
	--clr-gray-300: hsl(0, 0%, 70%);
	--clr-gray-700: hsl(0, 0%, 30%);
	--clr-gray-900: hsl(0, 0%, 10%);

	--clr-box-shadow: hsl(0, 0%, 10%, 10%);

	/* ---------------- FONT-SIZE ---------------- */
	--fs-small: 14px;
	--fs-regular: 16px;
	--fs-medium: 18px;
	--fs-large: 20px;
	--fs-title: 24px;

	/* ---------------- FONT WEIGHT ---------------- */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 600;
	--fw-bold: 700;

	/* ---------------- MARGINS ---------------- */
	--mb-xs: 16px;
	--mb-s: 24px;
	--mb-m: 32px;
	--mb-l: 64px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: var(--fs-regular);
}

.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 40px;
}

/* ---------------------------------------- */
/* ---------------- HEADER ---------------- */
/* ---------------------------------------- */

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 40px;
}

.logo {
	width: 64px;
}

.nav__items {
	display: flex;
}

.nav__items li {
	padding: 40px 20px;
	border-top: 3px solid transparent;
	transition: border-top 0.4s;
}

.nav__items li:hover {
	border-top: 3px solid var(--clr-accent-500);
	/* color: var(--clr-accent-500); */
}

.nav__items li a {
	font-size: var(--fs-medium);
	font-weight: var(--fw-medium);
	transition: color 0.4s;
}

.nav__items li a:hover {
	color: var(--clr-accent-500);
}

.nav__items li:hover {
	opacity: 1;
}

/* --------------------------------------------- */
/* ---------------- SEARCH FORM ---------------- */
/* --------------------------------------------- */

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: var(--mb-s);
}

.form__heading {
	font-size: var(--fs-title);
	font-weight: var(--fw-bold);
}

.search-form {
	display: flex;
}

.search-form__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px;
	border-radius: 12px 0 0 12px;
	background-color: var(--clr-gray-100);
	color: var(--clr-gray-700);
}

.search-form__input {
	padding: 12px 18px;
	border: 1px solid var(--clr-gray-100);
	border-right: transparent;
	font-weight: var(--fw-bold);
}

.search-form__input[placeholder] {
	color: var(--clr-gray-900);
}

.search-form__submit {
	padding: 12px 18px;
	border: none;
	border-radius: 0 18px 18px 0;
	background-color: var(--clr-accent-500);
	color: white;
	font-weight: var(--fw-bold);
	transition: background-color 0.3s;
	cursor: pointer;
}

.search-form__submit:hover {
	background-color: var(--clr-accent-300);
}

/* On small screen, an icon will be display instead of the string "Rechercher"  */
.search-form__submit--icon {
	display: none;
}

::placeholder {
	color: var(--clr-gray-300);
}

/* Hide the placeholder on focus */
input:focus::placeholder {
	color: transparent;
}

input:focus-visible {
	outline: transparent;
}

/* ----------------------------------------- */
/* ---------------- FILTERS ---------------- */
/* ----------------------------------------- */

.filter {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: var(--mb-m);
}

.filter__heading {
	font-size: var(--fs-regular);
	font-weight: var(--fw-bold);
	margin-right: 10px;
}

.filter__content {
	display: flex;
	align-items: center;
	border: 2px solid var(--clr-gray-200);
	border-radius: 200px;
	transition: all 0.3s;
}

.filter__content:hover,
.filter__content:focus-within {
	background-color: var(--clr-muted);
	border: 2px solid var(--clr-muted);
	padding: 0 16px;
}

.filter__content__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: var(--clr-muted);
	outline: 2px solid var(--clr-muted);
	color: var(--clr-accent-500);
	border-radius: 50%;
	cursor: pointer;
}

/* Increase the size of the "family" icon */
.fa-child-reaching {
	font-size: 18px;
}

.filter__content a {
	color: var(--clr-gray-900);
	font-weight: var(--fw-bold);
	padding: 0 14px;
}

/* ----------------------------------------- */
/* ---------------- HOSTING ---------------- */
/* ----------------------------------------- */

.hosting-info {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: var(--mb-m);
}

.hosting-info__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 24px;
	min-height: 24px;
	border: 1px solid var(--clr-gray-200);
	color: var(--clr-accent-500);
	border-radius: 100px;
	font-size: 12px;
}

.fa-info {
	transform: translateX(10%);
}

.full-star {
	color: var(--clr-accent-500);
}

.empty-star {
	color: var(--clr-gray-200);
}

.euro {
	font-weight: var(--fw-bold);
}

.hosting {
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 32px;
	max-width: 1340px;
	padding: 0 40px;
	margin: 0 auto;
	margin-bottom: var(--mb-l);
}

/* --------- Hosting List --------- */

.hosting-list {
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 40px repeat(2, 1fr);
	padding: 40px;
	background-color: var(--clr-gray-100);
	border-radius: 18px;
}

.hosting-list__heading {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	grid-column: 1 / -1;
	align-self: end;
}

.hosting-list__card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 4px;
	background-color: #fff;
	border-radius: 16px;
	cursor: pointer;
	box-shadow: 0 3px 15px 0 var(--clr-box-shadow);
	transition: all 0.3s;
}

.hosting-list__card:hover {
	transform: translateY(-2%);
	box-shadow: 0 10px 15px 0 var(--clr-box-shadow);
}

.hosting-list__card__description {
	padding: 0 0 6px 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.hosting-list__card__image {
	width: 100%;
	height: 110px;
	overflow: hidden;
}

.hosting-list__card__image > img {
	height: 100%;
	object-fit: cover;
	border-radius: 12px 12px 0 0;
	transition: width 0.3s;
	margin: 0 auto;
}

.hosting-list__card p:first-child {
	font-weight: var(--fw-bold);
}

.hosting-list__card p:not(:first-child) {
	font-size: var(--fs-small);
}

.hosting-list__card__stars {
	font-size: 12px;
}

.hosting-more {
	cursor: pointer;
	align-self: center;
	grid-column: 1 / -1;
}

.hosting-more summary {
	font-weight: var(--fw-bold);
}

/* --------- Hosting Populars --------- */

.hosting-popular {
	display: grid;
	grid-template-rows: 40px repeat(3, 1fr);
	gap: 32px;
	padding: 40px;
	border-radius: 18px;
	background-color: var(--clr-gray-100);
}

.hosting-popular__heading {
	display: flex;
	justify-content: space-between;
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	align-self: end;
}

.hosting-popular__card {
	display: flex;
	padding: 4px;
	height: 150px;
	overflow: hidden;
	border-radius: 16px;
	background-color: #fff;
	box-shadow: 0 3px 15px 0 var(--clr-box-shadow);
	cursor: pointer;
	transition: all 0.3s;
}

.hosting-popular__card:hover {
	transform: translateY(-2%);
	box-shadow: 0 10px 15px 0 var(--clr-box-shadow);
}

.hosting-popular__card__image {
	height: 100%;
}

.hosting-popular__card__image img {
	width: 120px;
	height: 100%;
	object-fit: cover;
	border-radius: 12px 0 0 12px;
}

.hosting-popular__card__infos {
	display: flex;
	flex-direction: column;
	padding: 8px 18px;
}

.hosting-popular__card__infos p:first-child {
	font-weight: var(--fw-bold);
	font-size: 16px;
}

.hosting-popular__card__infos h3 {
	font-weight: var(--fw-bold);
	font-size: 16px;
}

.hosting-popular__card__infos p {
	font-size: var(--fs-small);
}

.hosting-popular__card__stars {
	margin-top: auto;
	font-size: 12px;
}

/* ------------------------------------------ */
/* ---------------- ACTIVITY ---------------- */
/* ------------------------------------------ */

.activity {
	margin-bottom: var(--mb-l);
}

.activity__heading {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	margin-bottom: var(--mb-s);
}

.activity-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 20px 20px 20px 100px;
	gap: 40px;
}

.activity__card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 18px;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 0 3px 15px 0 var(--clr-box-shadow);
	transition: all 0.3s;
}

.activity__card:hover {
	transform: translateY(-2%);
	box-shadow: 0 10px 15px 0 var(--clr-box-shadow);
}

.activity__card__title {
	font-weight: var(--fw-bold);
	padding: 12px 18px;
}

.activity__card__link {
	flex: 1;
	overflow: hidden;
}

.activity__card__link img {
	height: 100%;
	object-fit: cover;
}

.activity__card--one {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

.activity__card--two {
	grid-column: 2 / 3;
	grid-row: 1 / 4;
}

.activity__card--three {
	grid-column: 2 / 3;
	grid-row: 4 / -1;
}

.activity__card--four {
	grid-column: 3 / 4;
	grid-row: 1 / -1;
}

.activity__card--five {
	grid-column: 4 / 5;
	grid-row: 1 / 3;
}

.activity__card--six {
	grid-column: 4 / 5;
	grid-row: 3 / -1;
}

/* ---------------------------------------- */
/* ---------------- FOOTER ---------------- */
/* ---------------------------------------- */

.footer {
	width: 100%;
	background-color: var(--clr-gray-100);
}

.footer-nav {
	display: flex;
	gap: 80px;
	padding-top: 48px;
	padding-bottom: 48px;
}

.footer-nav__menu {
	flex: 1;
}

.footer-nav__menu__heading {
	margin-bottom: var(--mb-xs);
	font-weight: var(--fw-bold);
	font-size: var(--fs-medium);
}

.footer-nav__menu__links {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
