:root {
	/* ---------------- COLORS ---------------- */
	--clr-accent-500: hsl(216, 100%, 49%);
	--clr-accent-300: hsl(216, 100%, 94%);

	--clr-gray-100: hsl(0, 0%, 95%);
	--clr-gray-700: hsl(0, 0%, 30%);
	--clr-gray-900: hsl(0, 0%, 10%);

	/* ---------------- FONT WEIGHT ---------------- */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-bold: 700;
}
